<footer class="main-footer" th:fragment="footer" class="footer">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <div class="footer-links">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/menu}">Menu</a>
        <a th:href="@{/prenota}">Prenotazione</a>
        <a th:href="@{/auth/login}">Area Staff</a>
    </div>

    <div class="footer-bottom">
       <p>© 2026 Nebbia & Zafferano - Fine Dining Experience</p>
    </div>
   </div>
</footer>