<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaBistrot</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">Nebbia & Zafferano</div>
            <ul class="nav-links">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Prenotazione</a></li>
                <li><a href="#">Galleria</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h4>Benvenuti al Ristorante</h4>
            <h1>Nebbia & Zafferano</h1>
            <p>Un'esperienza culinaria indimenticabile nel cuore della città.</p>
            <a href="#" class="btn-main">Guarda il Menu</a>
        </div>
    </section>

    <section class="welcome">
    <div class="container-welcome">
        
        <div class="welcome-text">
            <span class="subtitle">Sapore Italiano</span>
            <h2>WELCOME</h2>
            <p>
                Dal cuore di Milano, Nebbia & Zafferano porta in tavola la tradizione 
                rivisitata con passione. Ogni piatto è una storia di ingredienti 
                selezionati e amore per la cucina.
            </p>
            <a href="#" class="btn-secondary">La nostra Storia</a>
        </div>

        <div class="welcome-image">
            <div class="img-wrapper">
                <img src="../../static/img/welcome.webp" alt="Piatto tipico">
            </div>
        </div>

    </div>
</section>

<section class="section-intro" id="section-intro">
    <div class="header-intro">
        <span class="title2"> Discover </span>
        <h3 class="title3"> Nebbia & Zafferano Palace </h3>
    </div>
</section>
</body>
</html>