<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaBistrot</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

    <header th:fragments="header">
        <nav class="navbar">
            <div class="logo">Nebbia & Zafferano</div>
            <ul class="nav-links">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Prenotazione</a></li>
                <li><a href="#">Galleria</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>


    
</body>
</html>






