body {
    background-color: #f8f5f0;
}

.card-front,
.card-back {
    background-color: #ffffff;
}

.card {
    width: 300px;
    height: 420px; 
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front img {
    width: 100%;
    height: 220px;          
    object-fit: cover;     
    border-radius: 10px;
    margin-top: 10px;
}

.card-front {
       align-items: center;
}

.card-front h3 {
    text-align: center;
    font-size: 18px;
    min-height: 50px; /* stesso spazio titolo */
}

.card:hover .card-front img {
    transform: scale(1.05);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-back {
    transform: rotateY(180deg);
    justify-content: space-between; /* forza prezzo in basso */
    text-align: center;
}

.card-back p {
    flex-grow: 1;  /* occupa spazio centrale */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;

}

section {
    padding: 80px 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}

footer {
    margin-top: 80px;
    position: relative;
}

