<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nebbia & Zafferano</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

   <section class="hero">
    <div class="hero-bg-image"></div>
    
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <span class="sub-title anim-fade-down">Benvenuti al Ristorante</span>
        <h1 class="main-title anim-fade-up">Nebbia & Zafferano</h1>
        <div class="anim-zoom-in">
            <button class="btn-red">Guarda il Menu</button>
        </div>
    </div>
</section>

    <!--<section class="home" id="home">
        <div class="home-content">
            <h4>Benvenuti al Ristorante</h4>
            <h1>Nebbia & Zafferano</h1>
            <p>Un'esperienza culinaria indimenticabile nel cuore della città.</p>
            <a href="#" class="btn-main">Guarda il Menu</a>
        </div>
    </section>-->


 <section class="welcome">
    <div class="container-welcome">
        
        <div class="welcome-text">
            <span class="subtitle">Sapore Italiano</span>
            <h2>WELCOME</h2>
            <p>
                Dal cuore di Milano, Nebbia & Zafferano porta in tavola la tradizione 
                rivisitata con passione. Ogni piatto è una storia di ingredienti 
                selezionati e amore per la cucina.
            </p>
            <a href="#" class="btn-secondary">La nostra Storia</a>
        </div>

        <div class="welcome-image">
            <div class="img-wrapper">
                <img src="../static/img/welcome.webp" alt="Piatto tipico">
            </div>
        </div>

    </div>
</section>

<section class="discover-parallax">
    <div class="parallax-content">
        <span class="sub-title">Discover</span>
        <h2 class="section-h white-text">PATO PLACE</h2>
    </div>
</section>

<section class="categoriessection-padding">
    <div class="container grid-3">
        
        <div class="category-item" style="background-image: url('../static/img/romantic rest.webp');">
            <div class="category-content">
                <h3>Romantic Restaurant</h3>
                <p class="text">LEARN MORE </p>
            </div>
        </div>

        <div class="category-item" style="background-image: url('../static/img/delice.webp ');">
            <div class="category-content">
                <h3>Delicious Food</h3>
                <p class="text">LEARN MORE </p>
            </div>
        </div>

        <div class="category-item" style="background-image: url('../static/img/wine.webp');">
            <div class="category-content">
                <h3>Red Wines</h3>
                <p class="text">LEARN MORE </p>
            </div>
        </div>

    </div>
</section>




<footer class="main-footer" th:fragment="footer" class="footer">
    
    <div class="footer-links">

    <div class="container footer-grid">
        
        <div class="footer-col">
            <a th:href="@{/contatti}">Contatti</a>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Milano ,via Brescia , 12 </li>
                <li><i class="fas fa-phone"></i> (+39) 96 716 687 09</li>
                <li><i class="fas fa-envelope"></i> contact@Nebbia & Zafferano.com</li>
            </ul>
        </div>

        <div class="footer-col">
            <a th:href="@{/details}">Details</a>
            <ul>
                <li>09:30 AM – 11:00 PM</li>
                <li>Every Day</li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Gallery</h4>
            <div class="footer-gallery">
                <img src="../static/img/menu.webp" alt="Gallery 1">
                <img src="../static/img/menu2.webp" alt="Gallery 2">
                <img src="../static/img/menu3.webp" alt="Gallery 3">
                <img src="../static/img/menu4.webp" alt="Gallery 4">
                <img src="../static/img/menu5.webp" alt="Gallery 5">
                <img src="../static/img/gallery5.jpg" alt="Gallery 6">
            </div>
        </div>

        <div class="footer-col">
            <a th:href="@{/login}">Area Privata</a>
            <p>Accesso dedicato allo staff e all'amministrazione.</p>
            <form class="login-mini">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button type="submit" class="btn-login">LOGIN</button>
            </form>
        </div>

    </div>

    <div class="footer-bottom">
       <p>© 2026 Nebbia & Zafferano - Fine Dining Experience</p>
    </div>
   </div>
</footer>




</body>
</html>